<div class="collection__autoship">
    {% include 'collection-autoship-banner' %}
    {% section 'collection-autoship-top' %}
    {% section 'collection-autoship-joining' %}
    {% section 'collection-autoship-filter' %}
    {% section 'collection-template-autoship' %}
</div>
{% include 'sharing-popup', share_permalink: collection.url %}