<div class="container page__enrollment page__enrollment-thankyou">
  <div class="enrollment__thankyou-box text-center col-md-8 mr-auto">
    <h1>Congrat Mai, You have become our Business Partner!<br /></h1>
    <div class="enrollment__thankyou-member-id">Your member ID: <span>123-456</span></div>
    <p class="enrollment__thankyou-note">To get access to your new account, please set up a new password for your account here!</p>
    <div class="enrollment__thankyou-button"><a href="#" class="btn">Set uP New Password</a></div>
    <div class="enrollment__thankyou-bottom">
      <p>Thank you for registering as a Business Partner of UnileverLife. Wish you have a successful journey ahead, we always beside you to help you to get success!</p>
    
      <div>If you need any help, please contact:</div>
      <div>Your Sponsor: John Smith - Phone number: 091.234.5678</div>
      <div>Your Placement: John Doe - Phone number: 091.234.9815</div>
      <div>or Our Call Center: +6625542455 - Email: unileverlife.th@unilever.com</div>
    </div>
  </div>
</div>