{{ 'aos.css' | asset_url | stylesheet_tag }}
{{ 'page-support-tools.css' | asset_url | stylesheet_tag }}
{{ page.content }}

{% comment %} 
<div class="page_support-tools">
    <div class="index-section section_slide">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="content-top">
                        <h3 class="title">ยูนิลีเวอร์ ไลฟ์<br />เลิร์นนิ่ง สตูดิโอ</h3>
                        <p>สตูดิโอเพื่อการเรียนรู้แบบ 360 องศา ด้วยความร่วมมือกับพันธมิตรชั้นนำ เพื่อออกแบบคอร์สการเรียนรู้และพัฒนาศักยภาพที่คุณเข้าถึงได้ตลอด 24 ชม. รวมทั้งสัมมนาและเวิร์คช็อปแบบออฟไลน์ โดยครอบคลุม 3 องค์ความรู้หลัก</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 order__reverse">
                    <div class="item__media-wrap">
                        <div class="media">
                            <img src="https://cdn.shopify.com/s/files/1/0344/4139/6364/files/support_tools_slide_1_img.png?v=1636614846" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row list-items" data-aos="fade-up">
                <div class="col-md-4">
                    <div class="item">
                        <div class="media">
                            <img src="https://cdn.shopify.com/s/files/1/0344/4139/6364/files/support_tools_slide_1_item1.png?v=1636616018" alt="" />
                        </div>
                        <h3 class="title">สุขภาพ</h3>
                        <p class="desc">ข้อมูลผลิตภัณฑ์ / เทรนด์การดูแลสุขภาพ / สาระสุขภาพน่ารู้ / วิธีดูแลสุขภาพที่ถูกต้อง</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="media">
                            <img src="https://cdn.shopify.com/s/files/1/0344/4139/6364/files/support_tools_slide_1_item2.png?v=1636616018" alt="" />
                        </div>
                        <h3 class="title">ความงาม</h3>
                        <p class="desc">ข้อมูลผลิตภัณฑ์ / เทรนด์ความงาม / เคล็ดลับการดูแลผิวพรรณ / วิธีแนะนำผลิตภัณฑ์</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="media">
                            <img src="https://cdn.shopify.com/s/files/1/0344/4139/6364/files/support_tools_slide_1_item3.png?v=1636616018" alt="" />
                        </div>
                        <h3 class="title">ธุรกิจ</h3>
                        <p class="desc">ข้อมูลธุรกิจ ยูนิลีเวอร์ ไลฟ์ ที่ควรรู้ / ทักษะด้านดิจิทัล / การสร้างทีมเวิร์ค / ภาวะความเป็นผู้นำ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="index-section section_list-tools">
        <div class="container">
            <div class="row section-row">
                <div class="col-md-5">
                    <div class="media" data-aos="flip-left">
                        <img src="https://cdn.shopify.com/s/files/1/0397/0098/8070/files/s2_feature.png?v=1617606100" alt="" />
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="content">
                        <div class="content-header" data-aos="fade-up">
                            <h3 class="h1 title">เครื่องมือธุรกิจดิจิทัล</h3>
                            <p>รวบรวมทุกเครื่องมือดิจิทัลที่คุณต้องใช้เพื่อบริหารจัดการธุรกิจ ยูนิลีเวอร์ ไลฟ์ ด้วยสมาร์ทโฟนเพียงเครื่องเดียว สะดวกและคล่องตัวจากทุกที่ ทุกเวลา</p>
                        </div>
                        <div class="list-items row" data-aos="fade-up">
                            <div class="col-sm-6">
                                <div class="item">
                                    <div class="svg_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="36.065" height="51.043" viewBox="0 0 36.065 51.043">
                                            <g data-name="Group 787" transform="translate(0.5 0.5)">
                                              <path data-name="Path 171" d="M289.515,586.01v-2.1a7.127,7.127,0,0,0-7.127-7.127h0a7.127,7.127,0,0,0-7.127,7.127v2.1" transform="translate(-264.856 -576.781)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                              <path data-name="Rectangle 459" d="M0,0H35.065a0,0,0,0,1,0,0V36.786a4.028,4.028,0,0,1-4.028,4.028H4.028A4.028,4.028,0,0,1,0,36.786V0A0,0,0,0,1,0,0Z" transform="translate(0 9.229)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                            </g>
                                        </svg>
                                    </div>
                                    <p>การสั่งซื้อผลิตภัณฑ์ผ่านช่องทางออนไลน์</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="item">
                                    <div class="svg_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="42.075" height="44.833" viewBox="0 0 43.075 45.833">
                                            <g data-name="Group 2222" transform="translate(0.5 0.5)">
                                              <g data-name="Group 837" transform="translate(0 0)">
                                                <rect data-name="Rectangle 472" width="34.217" height="40.835" rx="2" transform="translate(0 2.997)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <rect data-name="Rectangle 473" width="15.985" height="6.494" rx="2" transform="translate(9.366)" fill="#f8f8f8" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <path data-name="Path 200" d="M728.307,142.958l2.545,2.545,6.351-6.351" transform="translate(-723.156 -129.454)" fill="#fff" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <line data-name="Line 133" x2="14.049" transform="translate(15.425 15.732)" fill="#fff" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <path data-name="Path 201" d="M728.307,196.272l2.545,2.545,6.351-6.351" transform="translate(-723.156 -172.245)" fill="#fff" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <line data-name="Line 134" x2="14.049" transform="translate(15.425 26.255)" fill="#fff" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <path data-name="Path 202" d="M728.307,249.586l2.545,2.545,6.351-6.351" transform="translate(-723.156 -215.036)" fill="#fff" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <line data-name="Line 135" x2="14.049" transform="translate(15.425 36.778)" fill="#fff" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <g data-name="Group 837" transform="translate(37.951 20.22)">
                                                  <path data-name="Path 203" d="M897.608,192.465V212.6l-1.562,3.473-1.562-3.473V192.465Z" transform="translate(-894.485 -192.465)" fill="#fff" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                  <line data-name="Line 136" x2="3.123" transform="translate(0 3.195)" fill="#fff" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                  <line data-name="Line 137" x2="3.123" transform="translate(0 18.97)" fill="#fff" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                </g>
                                              </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <p>การสั่งซื้อผลิตภัณฑ์ผ่านช่องทางออนไลน์</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="item">
                                    <div class="svg_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="55.217" height="45.261" viewBox="0 0 55.217 45.261">
                                            <g data-name="Group 2219" transform="translate(0.5 0.5)">
                                              <g data-name="Group 836" transform="translate(23.507 24.869)">
                                                <path data-name="Path 195" d="M1273.617,237.3a5.118,5.118,0,0,1,10.236,0" transform="translate(-1263.381 -226.138)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <circle data-name="Ellipse 30" cx="3.022" cy="3.022" r="3.022" transform="translate(12.332 0)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <path data-name="Path 196" d="M1319.9,237.3a5.118,5.118,0,0,1,10.236,0" transform="translate(-1299.431 -226.138)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <circle data-name="Ellipse 31" cx="3.022" cy="3.022" r="3.022" transform="translate(22.569 0)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <path data-name="Path 197" d="M1227.33,237.3a5.118,5.118,0,0,1,10.236,0" transform="translate(-1227.33 -226.138)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <circle data-name="Ellipse 32" cx="3.022" cy="3.022" r="3.022" transform="translate(2.096 0)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                              </g>
                                              <path data-name="Path 198" d="M1121.034,256.115a10.342,10.342,0,0,1,20.683,0" transform="translate(-1121.034 -211.854)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                              <circle data-name="Ellipse 33" cx="6.107" cy="6.107" r="6.107" transform="translate(4.235 21.706)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                              <path data-name="Path 199" d="M1200.644,110.89h-10l-6.738,4.945,1.169-4.945h-4.427a3.111,3.111,0,0,1-3.111-3.111V95.507a3.111,3.111,0,0,1,3.111-3.111h19.991a3.111,3.111,0,0,1,3.111,3.111v12.271A3.111,3.111,0,0,1,1200.644,110.89Z" transform="translate(-1165.045 -92.396)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                              <line data-name="Line 130" x2="17.95" transform="translate(16.629 4.533)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                              <line data-name="Line 131" x2="17.95" transform="translate(16.629 9.101)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                              <line data-name="Line 132" x2="17.95" transform="translate(16.629 13.669)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                            </g>
                                        </svg>
                                    </div>
                                    <p>การเชื่อมต่อระหว่างบิซิเนสพาร์ตเนอร์กับบิซิเนสโค้ช</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="item">
                                    <div class="svg_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="45.528" height="35.309" viewBox="0 0 45.528 35.309">
                                            <g data-name="Group 782" transform="translate(0.5 0.5)">
                                              <path data-name="Path 157" d="M447.369,579.774v34.309h44.321" transform="translate(-447.369 -579.774)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                              <path data-name="Path 158" d="M451.363,608.314,466.126,593.5l9.126,5.069,15.5-15.215" transform="translate(-446.431 -578.933)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                              <g data-name="Group 781" transform="translate(36.769 4.421)">
                                                <line data-name="Line 87" x2="7.552" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <line data-name="Line 88" y1="7.552" transform="translate(7.552)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                              </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <p>ระบบเช็คผลงานทางธุรกิจ</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="item">
                                    <div class="svg_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="43.86" height="38.891" viewBox="0 0 44.86 39.891">
                                            <g data-name="Group 2220" transform="translate(0.5 0.5)">
                                              <g data-name="Group 834">
                                                <g data-name="Group 835">
                                                  <path data-name="Path 194" d="M532.831,702.135l5.8,5.8,12.63-12.63" transform="translate(-520.615 -676.357)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                  <rect data-name="Rectangle 471" width="42.86" height="33.75" rx="5.545" transform="translate(0 4.141)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                  <g data-name="Group 834" transform="translate(9.421)">
                                                    <line data-name="Line 126" y2="8.903" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                    <line data-name="Line 127" y2="8.903" transform="translate(12.009)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                    <line data-name="Line 128" y2="8.903" transform="translate(24.018)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                  </g>
                                                </g>
                                                <line data-name="Line 129" x2="42.86" transform="translate(0 13.248)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                              </g>
                                            </g>
                                        </svg>                                          
                                    </div>
                                    <p>ปฏิทินกิจกรรมพิเศษและคอร์สต่างๆ</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="index-section section_video">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="content" data-aos="fade-up">
                        <h3 class="h1 title">เดอะ ซัพพอร์ตเตอร์</h3>
                        <div class="desc">
                            <p>นอกเหนือจากแพลตฟอร์มที่ทันสมัยแล้ว ยูนิลีเวอร์ ไลฟ์ ยัง<strong>มีทีมงานมืออาชีพในด้านต่างๆ คอยซัพพอร์ตบิซิเนสพาร์ตเนอร์ของเรา ทั้งที่เกี่ยวกับระบบจัดการหลังบ้านและการบริการลูกค้า ให้คุณคล่องตัวในการทำธุรกิจอย่างที่สุด</strong></p>
                            <p>รวมทั้ง<strong>คุณยังจะมีบิซิเนสโค้ชส่วนตัวที่พร้อมให้คำแนะนำในการเริ่มต้นธุรกิจและคอยให้คำปรึกษาตลอดเส้นทางสู่เป้าหมายธุรกิจของคุณ</strong> แน่ใจได้ว่าเราจะเป็นซัพพอร์ตเตอร์ที่เคียงข้างคุณสู่ความสำเร็จในธุรกิจไปด้วยกัน</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 order__reverse">
                    <div class="media video-wrapper" data-aos="zoom-in">
                        <img id="poster_video" class="poster" src="https://cdn.shopify.com/s/files/1/0344/4139/6364/files/support_tools_video.jpg?v=1636625455" alt="" />
                        <video id="video1" playsinline="" poster="https://cdn.shopify.com/s/files/1/0344/4139/6364/files/support_tools_video.jpg?v=1636625455" controls>
                            <source src="https://cdn.shopify.com/s/files/1/0513/1865/3091/files/Supporter_VDO.mp4?v=1633969308" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endcomment %}
{% comment %}
<div class="page_support-tools">
    <div class="index-section section_slide">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="content-top">
                        <h3 class="title">Unilever Life<br />Learning Studio</h3>
                        <p>A 360-degree learning studio in partnership with leading partners to design learning and development courses that you can access 24/7, seminars, and online workshops that cover 3 key knowledge</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 order__reverse">
                    <div class="item__media-wrap">
                        <div class="media">
                            <img src="https://cdn.shopify.com/s/files/1/0344/4139/6364/files/support_tools_slide_1_img.png?v=1636614846" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row list-items" data-aos="fade-up">
                <div class="col-md-4">
                    <div class="item">
                        <div class="media">
                            <img src="https://cdn.shopify.com/s/files/1/0344/4139/6364/files/support_tools_slide_1_item1.png?v=1636616018" alt="" />
                        </div>
                        <h3 class="title">Health</h3>
                        <p class="desc">Product information / Health trends / Interesting facts / Health tips</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="media">
                            <img src="https://cdn.shopify.com/s/files/1/0344/4139/6364/files/support_tools_slide_1_item2.png?v=1636616018" alt="" />
                        </div>
                        <h3 class="title">Beauty</h3>
                        <p class="desc">Product information / Beauty trends / Beauty tips / How-to recommend products</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="media">
                            <img src="https://cdn.shopify.com/s/files/1/0344/4139/6364/files/support_tools_slide_1_item3.png?v=1636616018" alt="" />
                        </div>
                        <h3 class="title">Business</h3>
                        <p class="desc">Unilever Life business information / Digital skills / Team building / Leadership</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="index-section section_list-tools">
        <div class="container">
            <div class="row section-row">
                <div class="col-md-5">
                    <div class="media" data-aos="flip-left">
                        <img src="https://cdn.shopify.com/s/files/1/0397/0098/8070/files/s2_feature.png?v=1617606100" alt="" />
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="content">
                        <div class="content-header" data-aos="fade-up">
                            <h3 class="h1 title">Business Toolbox</h3>
                            <p>Accumulate all essential digital tools needed to manage your Unilever Life business. Allowing you to manage easily from a mobile phone from anywhere, anytime.</p>
                        </div>
                        <div class="list-items row" data-aos="fade-up">
                            <div class="col-sm-6">
                                <div class="item">
                                    <div class="svg_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="36.065" height="51.043" viewBox="0 0 36.065 51.043">
                                            <g data-name="Group 787" transform="translate(0.5 0.5)">
                                              <path data-name="Path 171" d="M289.515,586.01v-2.1a7.127,7.127,0,0,0-7.127-7.127h0a7.127,7.127,0,0,0-7.127,7.127v2.1" transform="translate(-264.856 -576.781)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                              <path data-name="Rectangle 459" d="M0,0H35.065a0,0,0,0,1,0,0V36.786a4.028,4.028,0,0,1-4.028,4.028H4.028A4.028,4.028,0,0,1,0,36.786V0A0,0,0,0,1,0,0Z" transform="translate(0 9.229)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                            </g>
                                        </svg>
                                    </div>
                                    <p>Ordering products from online channels</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="item">
                                    <div class="svg_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="42.075" height="44.833" viewBox="0 0 43.075 45.833">
                                            <g data-name="Group 2222" transform="translate(0.5 0.5)">
                                              <g data-name="Group 837" transform="translate(0 0)">
                                                <rect data-name="Rectangle 472" width="34.217" height="40.835" rx="2" transform="translate(0 2.997)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <rect data-name="Rectangle 473" width="15.985" height="6.494" rx="2" transform="translate(9.366)" fill="#f8f8f8" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <path data-name="Path 200" d="M728.307,142.958l2.545,2.545,6.351-6.351" transform="translate(-723.156 -129.454)" fill="#fff" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <line data-name="Line 133" x2="14.049" transform="translate(15.425 15.732)" fill="#fff" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <path data-name="Path 201" d="M728.307,196.272l2.545,2.545,6.351-6.351" transform="translate(-723.156 -172.245)" fill="#fff" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <line data-name="Line 134" x2="14.049" transform="translate(15.425 26.255)" fill="#fff" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <path data-name="Path 202" d="M728.307,249.586l2.545,2.545,6.351-6.351" transform="translate(-723.156 -215.036)" fill="#fff" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <line data-name="Line 135" x2="14.049" transform="translate(15.425 36.778)" fill="#fff" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <g data-name="Group 837" transform="translate(37.951 20.22)">
                                                  <path data-name="Path 203" d="M897.608,192.465V212.6l-1.562,3.473-1.562-3.473V192.465Z" transform="translate(-894.485 -192.465)" fill="#fff" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                  <line data-name="Line 136" x2="3.123" transform="translate(0 3.195)" fill="#fff" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                  <line data-name="Line 137" x2="3.123" transform="translate(0 18.97)" fill="#fff" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                </g>
                                              </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <p>Systematic data collection</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="item">
                                    <div class="svg_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="55.217" height="45.261" viewBox="0 0 55.217 45.261">
                                            <g data-name="Group 2219" transform="translate(0.5 0.5)">
                                              <g data-name="Group 836" transform="translate(23.507 24.869)">
                                                <path data-name="Path 195" d="M1273.617,237.3a5.118,5.118,0,0,1,10.236,0" transform="translate(-1263.381 -226.138)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <circle data-name="Ellipse 30" cx="3.022" cy="3.022" r="3.022" transform="translate(12.332 0)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <path data-name="Path 196" d="M1319.9,237.3a5.118,5.118,0,0,1,10.236,0" transform="translate(-1299.431 -226.138)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <circle data-name="Ellipse 31" cx="3.022" cy="3.022" r="3.022" transform="translate(22.569 0)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <path data-name="Path 197" d="M1227.33,237.3a5.118,5.118,0,0,1,10.236,0" transform="translate(-1227.33 -226.138)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <circle data-name="Ellipse 32" cx="3.022" cy="3.022" r="3.022" transform="translate(2.096 0)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                              </g>
                                              <path data-name="Path 198" d="M1121.034,256.115a10.342,10.342,0,0,1,20.683,0" transform="translate(-1121.034 -211.854)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                              <circle data-name="Ellipse 33" cx="6.107" cy="6.107" r="6.107" transform="translate(4.235 21.706)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                              <path data-name="Path 199" d="M1200.644,110.89h-10l-6.738,4.945,1.169-4.945h-4.427a3.111,3.111,0,0,1-3.111-3.111V95.507a3.111,3.111,0,0,1,3.111-3.111h19.991a3.111,3.111,0,0,1,3.111,3.111v12.271A3.111,3.111,0,0,1,1200.644,110.89Z" transform="translate(-1165.045 -92.396)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                              <line data-name="Line 130" x2="17.95" transform="translate(16.629 4.533)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                              <line data-name="Line 131" x2="17.95" transform="translate(16.629 9.101)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                              <line data-name="Line 132" x2="17.95" transform="translate(16.629 13.669)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                            </g>
                                        </svg>
                                    </div>
                                    <p>Connection between Business Partner and Business Coach</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="item">
                                    <div class="svg_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="45.528" height="35.309" viewBox="0 0 45.528 35.309">
                                            <g data-name="Group 782" transform="translate(0.5 0.5)">
                                              <path data-name="Path 157" d="M447.369,579.774v34.309h44.321" transform="translate(-447.369 -579.774)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                              <path data-name="Path 158" d="M451.363,608.314,466.126,593.5l9.126,5.069,15.5-15.215" transform="translate(-446.431 -578.933)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                              <g data-name="Group 781" transform="translate(36.769 4.421)">
                                                <line data-name="Line 87" x2="7.552" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                <line data-name="Line 88" y1="7.552" transform="translate(7.552)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                              </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <p>Business performance report system</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="item">
                                    <div class="svg_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="43.86" height="38.891" viewBox="0 0 44.86 39.891">
                                            <g data-name="Group 2220" transform="translate(0.5 0.5)">
                                              <g data-name="Group 834">
                                                <g data-name="Group 835">
                                                  <path data-name="Path 194" d="M532.831,702.135l5.8,5.8,12.63-12.63" transform="translate(-520.615 -676.357)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                  <rect data-name="Rectangle 471" width="42.86" height="33.75" rx="5.545" transform="translate(0 4.141)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                  <g data-name="Group 834" transform="translate(9.421)">
                                                    <line data-name="Line 126" y2="8.903" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                    <line data-name="Line 127" y2="8.903" transform="translate(12.009)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                    <line data-name="Line 128" y2="8.903" transform="translate(24.018)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                                  </g>
                                                </g>
                                                <line data-name="Line 129" x2="42.86" transform="translate(0 13.248)" fill="none" stroke="#333" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                              </g>
                                            </g>
                                        </svg>                                          
                                    </div>
                                    <p>Special events calendar and various courses</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="index-section section_video">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="content" data-aos="fade-up">
                        <h3 class="h1 title">The Supporter</h3>
                        <div class="desc">
                            <p>In addition to an advanced platform, <strong>Unilever Life has a team of professionals in various fields to support our Business Partners. Whether it’s the management system and customer service</strong> or <strong>a personal business coach who offers business advice and mentoring to achieve your business goals.</strong></p>
                            <p>Therefore, you can be confident that The Supporter will always stand by you through every step to your business success.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 order__reverse">
                    <div class="media video-wrapper" data-aos="zoom-in">
                        <img id="poster_video" class="poster" src="https://cdn.shopify.com/s/files/1/0344/4139/6364/files/support_tools_video.jpg?v=1636625455" alt="" />
                        <video id="video1" playsinline="" poster="https://cdn.shopify.com/s/files/1/0344/4139/6364/files/support_tools_video.jpg?v=1636625455" controls>
                            <source src="https://cdn.shopify.com/s/files/1/0513/1865/3091/files/Supporter_VDO.mp4?v=1633969308" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endcomment %}

<script src="{{ 'aos.js' | asset_url }}"></script>

<script>
    AOS.init({
        disable: "phone",
        delay: 0,
        duration: 1000
    });

    $(document).ready(function() {
        // Section video
        let myVideo = document.getElementById("video1");

        $(document).on('click', '#poster_video', function () {
            $('.media img.poster').hide();
            if (myVideo.paused) {
                myVideo.play();
                $(this).hide();
            }else {
                myVideo.pause();
                $(this).hide();
            }
        });
    });
</script>

{% include 'sharing-popup', share_permalink: page.url %}