<div class="reset__password--page">
  <!-- Intro -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <div class="reset__password--intro text-center">
          <h2 class="headings primary_color">Set Up A New Password</h2>
          <p class="description">Fusce convallis metus id felis luctus adipiscing. Fusce a quam. Etiam iaculis nunc ac metus. Phasellus dolor. Morbi mattis ullamcorper velit.Curabitur a felis in nunc fringilla tristique. Cras ultricies mi eu turpis hendrerit fringilla. Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris ut lacus. Cras dapibus. Donec posuere vulputate arcu.</p>
          <a class="btn" href="#">LINE Authentication</a>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <!-- Step 2 -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="check__national_id text-center">
          <div class="form__box">
            <form action="#">
              <div class="form__input">
                <label for="#">Please Enter Your National ID</label>
                <input class="input__text" placeholder="National ID" type="text">
              </div>
              <div class="form__checkbox d-flex align-items-center">
                <input class="input__checkbox" id="confirm" name="confirm" type="checkbox"/>
                <label for="confirm">content text confirm</label>
              </div>
              <div class="form__submit text-center">
                <button class="btn" type="submit">Next</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <!-- Not found member data in  data reruned from AX via IF-019 -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="benefit__box" style="background-image: url(http://via.placeholder.com/470x250)">
          <div class="content">
            <h3 class="text-center">Benefit 01</h3>
            <p>Phasellus gravida semper nisi. In turpis. Fusce neque. Vivamus elementum semper nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus.</p>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="benefit__box" style="background-image: url(http://via.placeholder.com/470x250)">
          <div class="content">
            <h3 class="text-center">Benefit 02</h3>
            <p>Phasellus gravida semper nisi. In turpis. Fusce neque. Vivamus elementum semper nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form__box text-center">
          <p>You’ve not enrolled yet. Let’s earn with us</p>
          <a class="btn" href="#">start business with us</a>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <!-- Found member data in  data reruned from AX via IF-019 but member has already link to another LINE userID -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form__box text-center">
          <p>Your MemberID has already linked with another LINE account. Please try to login anther LINE account or contact our support!</p>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <!-- Step 3 -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <h2 class="headings primary_color text-center">Online Account Activation</h2>
      </div>
      <div class="col-md-6">
        <div class="overview__info">
          <div class="form__box">
            <form action="#">
              <div class="form__input">
                <label for="#">National ID:</label>
                <input class="input__text" disabled type="text" value="123-345-780">
              </div>
              <div class="form__input">
                <label for="#">Member ID:</label>
                <input class="input__text" disabled type="text" value="123-345-780">
              </div>
              <div class="form__input">
                <label for="#">Phone number:</label>
                <input class="input__text" disabled type="text" value="+84-123-345-780">
              </div>
              <div class="form__input">
                <label for="#">Email:</label>
                <input class="input__text" disabled type="text" value="email@gmail.com">
              </div>
              <div class="form__input">
                <label for="#">Name:</label>
                <input class="input__text" disabled type="text" value="Thong Lao">
              </div>
              <div class="form__help">
                <p>If information is not correct, please contact center: xxxx-xxxx</p>
              </div>
              <div class="form__submit text-center">
                <button class="btn" type="submit">Confirm & Send OTP</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <!-- Step 4  -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="otp__code">
          <div class="form__box">
            <h3 class="text-center">Identity confirmation</h3>
            <p>Please enter the code that we’ve sent to you via phone number: 0123.456.789</p>
            <form action="#">
              <label for="#">Enter OTP Code:</label>
              <div class="form__fields">
                <div class="form__input">
                  <input class="input__text" type="text">
                </div>
                <div class="form__input">
                  <input class="input__text" type="text">
                </div>
                <div class="form__input">
                  <input class="input__text" type="text">
                </div>
                <div class="form__input">
                  <input class="input__text" type="text">
                </div>
                <div class="form__input">
                  <input class="input__text" type="text">
                </div>
              </div>
              <a class="resend__otp" href="#">Send OTP again</a>
              <div class="form__submit text-center">
                <button class="btn" type="submit">Next</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <!-- Step 5 -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form__box">
          <div class="form__input">
            <label for="#" style="display: inline-block;">Password</label>
            <div class="smart_tooltip">
              <span style="">ℹ︎</span>
              <div class="tooltiptext" style="text-align: left;">
                <p>Password must:</p>
                <ul>
                  <li>- Have at least on lower case letter</li>
                  <li>- Have at least one capital letter</li>
                  <li>- Have at least one number</li>
                  <li>- Not contain multiple identical consecutive characters</li>
                  <li>- Not be the same as the account name</li>
                  <li>- Be at least 8 characters</li>
                </ul>
              </div>
            </div>
            <input class="input__text" type="password">
          </div>
          <div class="form__input">
            <label for="#">Confrim Password</label>
            <input class="input__text" type="password">
          </div>
          <div class="form__submit text-center">
            <button class="btn" type="submit">Create Password</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <!-- Step 6 -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form__box text-center">
          <div class="icons" style="margin-bottom: 20px;">{% render 'icon-thank-you' %}</div>
          <h3>Thank you Mai!  Your password has successfully created</h3>
          <p>You can use your Member ID:
            <strong>TH123456
            </strong><br>
            or National ID to login.
          </p>
          <div class="actions">
            <a class="btn" href="#">Online shopping</a>
            <a class="btn" href="#">Go to Dashboard</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>