<div class="success__modal smart_modal smart_modal-small">
    <div class="modal-center">
        <div class="modal-content modal-content__padding text-center">
            <span class="close drawer__close drawer__close-large" title="{{ 'general.tooltip.close_popup' | t }}"></span>
            <div class="success__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="202.57" height="202.57" viewBox="0 0 202.57 202.57">
                    <g data-name="Group 1104" transform="translate(-630.5 -234.606)">
                        <circle data-name="Ellipse 25" cx="97.285" cy="97.285" r="97.285" transform="translate(634.5 238.606)" fill="#fff" stroke="#6DD54E" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"/>
                        <path data-name="Path 210" d="M157.961,307.868,182.294,332.2l71.372-71.372" transform="translate(526.499 39.372)" fill="none" stroke="#6DD54E" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"/>
                    </g>
                </svg>
            </div>
            <div class="success__modal-content">
                {{ content_popup }}
            </div>
        </div>
    </div>
    <div class="modal__overlay overlay"></div>
</div>