<div class="failed__modal smart_modal smart_modal-small">
    <div class="modal-center">
        <div class="modal-content modal-content__padding text-center">
            <span class="close drawer__close drawer__close-large" title="{{ 'general.tooltip.close_popup' | t }}"></span>
            <div class="success__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="138.892" height="138.892" viewBox="0 0 138.892 138.892">
                    <g data-name="Group 1072" transform="translate(-5422.5 1009.5)">
                        <circle data-name="Ellipse 25" cx="69.446" cy="69.446" r="69.446" transform="translate(5422.5 -1009.5)" fill="#fd2729"/>
                        <g data-name="Group 1039" transform="translate(5461.404 -971.31)">
                        <line data-name="Line 16" x2="61.27" y2="61.27" transform="translate(0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="8"/>
                        <line data-name="Line 17" x1="61.27" y2="61.27" transform="translate(0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="8"/>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="failed__modal-content">
                {{ content_popup }}
            </div>
        </div>
    </div>
    <div class="modal__overlay overlay"></div>
</div>