{% comment %}
  Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
{% endcomment %}
<div class="password-content">
  {% unless shop.password_message == blank %}
    <div class="password-message">
      {{ shop.password_message }}
    </div>
  {% endunless %}
</div>

<div class="password-content password-content--rte">
  <p class="h4">
    {{ section.settings.newsletter_form_heading | escape }}
  </p>
  {% if section.settings.newsletter_form_subheading != blank %}
    <div class="password__form-subheading rte">{{ section.settings.newsletter_form_subheading }}</div>
  {% endif %}
</div>

{% schema %}
{
  "name": {
    "da": "Indhold",
    "de": "Inhalt",
    "en": "Content",
    "es": "Contenido",
    "fi": "Sisältö",
    "fr": "Contenu",
    "hi": "सामग्री",
    "it": "Contenuto",
    "ja": "コンテンツ",
    "ko": "콘텐츠",
    "ms": "Kandungan",
    "nb": "Innhold",
    "nl": "Content",
    "pt-BR": "Conteúdo",
    "pt-PT": "Conteúdo",
    "sv": "Innehåll",
    "th": "เนื้อหา",
    "zh-CN": "内容",
    "zh-TW": "內容"
  },
  "settings": [
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": {
        "da": "Overskrift til nyhedsbrevsformular",
        "de": "Newsletter-Formular Titel",
        "en": "Newsletter form heading",
        "es": "Título del formulario del boletín",
        "fi": "Uutiskirjelomakkeen otsikko",
        "fr": "Titre du formulaire d'inscription à la newsletter",
        "hi": "न्यूज़लेटर फ़ॉर्म का शीर्षक",
        "it": "Intestazione del modulo della newsletter",
        "ja": "ニュースレターフォームの見出し",
        "ko": "뉴스레터 양식 제목",
        "ms": "Tajuk borang surat berita",
        "nb": "Skjemaoverskrift for nyhetsbrev",
        "nl": "Kop van nieuwsbriefformulier",
        "pt-BR": "Título do formulário da newsletter",
        "pt-PT": "Título do formulário da newsletter",
        "sv": "Nyhetsbrevsformulärrubrik",
        "th": "ส่วนหัวแบบฟอร์มจดหมายข่าว",
        "zh-CN": "标题中的新闻通讯",
        "zh-TW": "電子報表單標題"
      },
      "default": {
        "da": "Vær blandt de første til at få besked ved lancering.",
        "de": "Seien Sie der Erste, der von unserem Launch erfährt.",
        "en": "Be the first to know when we launch.",
        "es": "Entérate de nuestros lanzamientos antes que los demás.",
        "fi": "Saa tieto julkistuksistamme ensimmäisenä",
        "fr": "Faites partie des premières personnes à être informées de notre lancement.",
        "hi": "हम कब लॉन्च करते हैं, यह पता करने वाले सबसे पहले व्यक्ति बनें.",
        "it": "Sii il primo a sapere quando effettueremo il lancio.",
        "ja": "ストアに関する最新情報をメールでお知らせします。",
        "ko": "출시 할 때 먼저 알아야합니다.",
        "ms": "Jadi yang pertama untuk mengetahui apabila kami dilancarkan.",
        "nb": "Vær den første som får beskjed når vi lanserer.",
        "nl": "Kom als eerste te weten wanneer we van start gaan.",
        "pt-BR": "Seja o primeiro a saber quando lançarmos.",
        "pt-PT": "Seja o primeiro a saber quando é o lançamento.",
        "sv": "Var den första som vet när vi kör igång.",
        "th": "รับรู้ข่าวสารการเปิดตัวของเราก่อนใคร",
        "zh-CN": "成为第一批知道我们何时推出新内容的客户。",
        "zh-TW": "搶先收到產品發佈消息。"
      }
    },
    {
      "type": "richtext",
      "id": "newsletter_form_subheading",
      "label": {
        "da": "Underoverskrift",
        "de": "Unter-Überschrift",
        "en": "Subheading",
        "es": "Subtítulo",
        "fi": "Alaotsikko",
        "fr": "Sous-titre",
        "hi": "उपशीर्षक",
        "it": "Sottotitolo",
        "ja": "小見出し",
        "ko": "소제목",
        "ms": "Sub tajuk",
        "nb": "Underoverskrift",
        "nl": "Subkop",
        "pt-BR": "Subtítulo",
        "pt-PT": "Subtítulo",
        "sv": "Underrubrik",
        "th": "หัวเรื่องย่อย",
        "zh-CN": "副标题",
        "zh-TW": "子標題"
      },
      "default": {
        "da": "<p>En kort sætning, der beskriver, hvad folk får ud af at tilmelde sig</p>",
        "de": "<p>Eine kurze Beschreibung zum Inhalt des Newsletters</p>",
        "en": "<p>A short sentence describing what someone will receive by subscribing</p>",
        "es": "<p>Una frase corta que describe lo que las personas recibirán al suscribirse</p>",
        "fi": "<p>Lyhyt lause, jossa kuvataan, mitä käyttäjä saa tilaamalla</p>",
        "fr": "<p>Petite phrase qui décrit ce qu'on reçoit en s'inscrivant</p>",
        "hi": "<p>किसी को सदस्यता लेने से क्या प्राप्त होगा, यह बताने वाला एक छोटा वाक्य</p>",
        "it": "<p>Una breve frase che descrive ciò che qualcuno riceverà effettuando l'iscrizione</p>",
        "ja": "<p>メルマガ購読者に向けたメッセージを入れましょう</p>",
        "ko": "<p>구독을 통해 받을 것을 설명해주는 짧은 문장</p>",
        "ms": "<p>Satu perkataan pendek yang menerangkan apa yang seseorang akan terima dengan melanggan</p>",
        "nb": "<p>En kort setning som beskriver hva man får ved å abonnere</p>",
        "nl": "<p>Een korte beschrijving van wat iemand ontvangt door zich te abonneren</p>",
        "pt-BR": "<p>Uma frase curta que descreve o que alguém receberá ao assinar</p>",
        "pt-PT": "<p>Uma frase curta que descreve o que será recebido ao subscrever</p>",
        "sv": "<p>En kort mening som beskriver vad som erhålls med prenumeration</p>",
        "th": "<p>ประโยคสั้นๆ ที่อธิบายถึงสิ่งที่บางคนจะได้รับจากการสมัครรับข้อมูล</p>",
        "zh-CN": "<p>一个简短的句子，用于描述订阅者将收到的内容</p>",
        "zh-TW": "<p>簡短說明訂閱者可收到之內容</p>"
      }
    }
  ]
}
{% endschema %}
