@font-face {
  font-family: "dbbold";
  src: url("DBThaiTextX-Bold_gdi.eot");
  src: url("DBThaiTextX-Bold_gdi.eot?#iefix") format("embedded-opentype"), url("DBThaiTextX-Bold_gdi.woff") format("woff"), url("DBThaiTextX-Bold_gdi.ttf") format("truetype"), url("DBThaiTextX-Bold_gdi.svg#aviance_bld-webfont") format("svg");
  font-weight: 350;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-F880; }

@font-face {
  font-family: "db";
  src: url("DBThaiTextX_gdi.eot");
  src: url("DBThaiTextX_gdi.eot?#iefix") format("embedded-opentype"), url("DBThaiTextX_gdi.woff") format("woff"), url("DBThaiTextX_gdi.ttf") format("truetype"), url("DBThaiTextX_gdi.otf") format("opentype"), url("DBThaiTextX_gdi.svg#DBThaiTextX_gdi") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-F880; }

@font-face {
  font-family: "avi-nor";
  src: url("aviance_reg-webfont.eot");
  src: url("aviance_reg-webfont.eot?#iefix") format("embedded-opentype"), url("aviance_reg-webfont.woff") format("woff"), url("aviance_reg-webfont.ttf") format("truetype"), url("aviance_reg-webfont.svg#viance_reg-webfont") format("svg");
  font-weight: 350;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212; }

@font-face {
  font-family: "avi-bol";
  src: url("aviance_bld-webfont.eot");
  src: url("aviance_bld-webfont.eot?#iefix") format("embedded-opentype"), url("aviance_bld-webfont.woff") format("woff"), url("aviance_bld-webfont.ttf") format("truetype"), url("aviance_bld-webfont.svg#aviance_bld-webfont") format("svg");
  font-weight: 350;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212; }

#edito {
  font-family: "avi-nor"; }
  #edito h1,
  #edito h2,
  #edito h3,
  #edito h4,
  #edito h5,
  #edito h6,
  #edito .h1,
  #edito .h2,
  #edito .h3,
  #edito .h4,
  #edito .h5,
  #edito .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit; }
  #edito h1 small,
  #edito h2 small,
  #edito h3 small,
  #edito h4 small,
  #edito h5 small,
  #edito h6 small,
  #edito .h1 small,
  #edito .h2 small,
  #edito .h3 small,
  #edito .h4 small,
  #edito .h5 small,
  #edito .h6 small,
  #edito h1 .small,
  #edito h2 .small,
  #edito h3 .small,
  #edito h4 .small,
  #edito h5 .small,
  #edito h6 .small,
  #edito .h1 .small,
  #edito .h2 .small,
  #edito .h3 .small,
  #edito .h4 .small,
  #edito .h5 .small,
  #edito .h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #777; }
  #edito h1,
  #edito .h1,
  #edito h2,
  #edito .h2,
  #edito h3,
  #edito .h3 {
    margin-top: 20px;
    margin-bottom: 10px; }
  #edito h1 small,
  #edito .h1 small,
  #edito h2 small,
  #edito .h2 small,
  #edito h3 small,
  #edito .h3 small,
  #edito h1 .small,
  #edito .h1 .small,
  #edito h2 .small,
  #edito .h2 .small,
  #edito h3 .small,
  #edito .h3 .small {
    font-size: 65%; }
  #edito h4,
  #edito .h4,
  #edito h5,
  #edito .h5,
  #edito h6,
  #edito .h6 {
    margin-top: 10px;
    margin-bottom: 10px; }
  #edito h4 small,
  #edito .h4 small,
  #edito h5 small,
  #edito .h5 small,
  #edito h6 small,
  #edito .h6 small,
  #edito h4 .small,
  #edito .h4 .small,
  #edito h5 .small,
  #edito .h5 .small,
  #edito h6 .small,
  #edito .h6 .small {
    font-size: 75%; }
  #edito h1,
  #edito .h1 {
    font-size: 36px; }
  #edito h2,
  #edito .h2 {
    font-size: 30px; }
  #edito h3,
  #edito .h3 {
    font-size: 24px; }
  #edito h4,
  #edito .h4 {
    font-size: 18px; }
  #edito h5,
  #edito .h5 {
    font-size: 14px; }
  #edito h6,
  #edito .h6 {
    font-size: 12px; }
  #edito p {
    margin: 0 0 10px; }
  #edito .lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4; }
  @media (min-width: 768px) {
    #edito .lead {
      font-size: 21px; } }
  #edito small,
  #edito .small {
    font-size: 85%; }
  #edito mark,
  #edito .mark {
    padding: 0.2em;
    background-color: #fcf8e3; }
  #edito .text-left {
    text-align: left; }
  #edito .text-right {
    text-align: right; }
  #edito .text-center {
    text-align: center; }
  #edito .text-justify {
    text-align: justify; }
  #edito .text-nowrap {
    white-space: nowrap; }
  #edito .text-lowercase {
    text-transform: lowercase; }
  #edito .text-uppercase {
    text-transform: uppercase; }
  #edito .text-capitalize {
    text-transform: capitalize; }
  #edito .text-muted {
    color: #777; }
  #edito .text-primary {
    color: #337ab7; }
  #edito a.text-primary:hover,
  #edito a.text-primary:focus {
    color: #286090; }
  #edito .text-success {
    color: #3c763d; }
  #edito a.text-success:hover,
  #edito a.text-success:focus {
    color: #2b542c; }
  #edito .text-info {
    color: #31708f; }
  #edito a.text-info:hover,
  #edito a.text-info:focus {
    color: #245269; }
  #edito .text-warning {
    color: #8a6d3b; }
  #edito a.text-warning:hover,
  #edito a.text-warning:focus {
    color: #66512c; }
  #edito .text-danger {
    color: #a94442; }
  #edito a.text-danger:hover,
  #edito a.text-danger:focus {
    color: #843534; }
  #edito .bg-primary {
    color: #fff;
    background-color: #337ab7; }
  #edito a.bg-primary:hover,
  #edito a.bg-primary:focus {
    background-color: #286090; }
  #edito .bg-success {
    background-color: #dff0d8; }
  #edito a.bg-success:hover,
  #edito a.bg-success:focus {
    background-color: #c1e2b3; }
  #edito .bg-info {
    background-color: #d9edf7; }
  #edito a.bg-info:hover,
  #edito a.bg-info:focus {
    background-color: #afd9ee; }
  #edito .bg-warning {
    background-color: #fcf8e3; }
  #edito a.bg-warning:hover,
  #edito a.bg-warning:focus {
    background-color: #f7ecb5; }
  #edito .bg-danger {
    background-color: #f2dede; }
  #edito a.bg-danger:hover,
  #edito a.bg-danger:focus {
    background-color: #e4b9b9; }
  #edito .page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee; }
  #edito ul,
  #edito ol {
    margin-top: 0;
    margin-bottom: 10px; }
  #edito ul ul,
  #edito ol ul,
  #edito ul ol,
  #edito ol ol {
    margin-bottom: 0; }
  #edito .list-unstyled {
    padding-left: 0;
    list-style: none; }
  #edito .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none; }
  #edito .list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px; }
  #edito dl {
    margin-top: 0;
    margin-bottom: 20px; }
  #edito dt,
  #edito dd {
    line-height: 1.42857143; }
  #edito dt {
    font-weight: bold; }
  #edito dd {
    margin-left: 0; }
  #edito .section {
    margin: 25px 0; }
  #edito .wht-btn {
    margin: 15px auto;
    width: 180px;
    display: block;
    text-align: center;
    border: 1px solid #000; }
  #edito .wht-btn * {
    display: block;
    padding: 7px 20px;
    color: #000;
    font-weight: bold; }
  #edito .wht-btn button {
    border: none;
    background: none; }
  #edito .wht-btn.full-width {
    width: 100%; }
  #edito .wht-btn.auto-width {
    width: auto !important;
    display: inline-block !important; }
  #edito .th,
  #edito .relate-content a {
    font-family: "db" !important;
    font-size: 28px;
    line-height: 1; }
  #edito .narrow {
    max-width: 65%;
    margin: auto; }
  #edito .txt-red {
    color: #cb171e; }
  #edito a {
    color: #303335;
    text-decoration: none; }
  #edito a:hover {
    text-decoration: none;
    color: #7d7d7d; }
  #edito button:hover {
    color: #7d7d7d; }
  #edito .no-bg {
    background: none !important;
    color: #303335 !important; }
  #edito .blk-btn {
    margin: 15px auto;
    width: 180px;
    display: block;
    text-align: center;
    background-color: #000; }
  #edito .blk-btn * {
    display: block;
    color: #fff;
    padding: 7px 20px;
    font-weight: bold;
    background: none;
    width: 100%; }
  #edito .blk-btn button {
    border: none;
    background: none; }
  #edito .blk-btn.full-width {
    width: 100%; }
  #edito .blk-btn.auto-width {
    width: auto !important;
    display: inline-block !important; }
  #edito .blk-btn a:hover {
    color: #7d7d7d; }
  #edito .wht-btn {
    margin: 15px auto;
    width: 180px;
    display: block;
    text-align: center;
    border: 1px solid #000; }
  #edito .wht-btn * {
    display: block;
    padding: 7px 20px;
    color: #000;
    font-weight: bold; }
  #edito .wht-btn button {
    border: none;
    background: none; }
  #edito .wht-btn.full-width {
    width: 100%; }
  #edito .wht-btn.auto-width {
    width: auto !important;
    display: inline-block !important; }
  #edito h2 {
    font-size: 24px; }
  #edito h1 {
    margin-bottom: 25px; }
  #edito .edito-box {
    margin-bottom: 50px; }
  #edito .edito-box > img {
    width: 100%;
    margin-bottom: 20px; }
  #edito .edito-box .view-all {
    border-bottom: 1px dashed #7d7d7d;
    padding-bottom: 20px; }
  #edito .edito-box .view-all a {
    border-bottom: 1px solid #7d7d7d; }
  #edito .tag-area {
    padding: 25px 0;
    border-top: 1px solid #7d7d7d;
    border-bottom: 1px solid #7d7d7d; }
  #edito .youmightlike {
    border-bottom: 1px solid #7d7d7d;
    margin-bottom: 30px; }
  #edito.innerpage h1 {
    border-bottom: 1px dashed #7d7d7d;
    padding-bottom: 25px; }
  #edito.innerpage .share-section {
    margin-bottom: 40px; }
  #edito.innerpage .share-section a {
    margin-left: 5px; }
  #edito .product-extra .inner .img-wrap {
    background-color: #fff;
    position: relative; }
    #edito .product-extra .inner .img-wrap:after {
      content: " ";
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      background-color: #fff;
      height: 500px; }
  @media all and (max-width: 320px) {
    #edito .sum-box .period > div,
    #edito .sum-box .duedate > div {
      float: none !important; }
    #edito .sum-box select {
      display: block;
      width: 100%; } }
  @media all and (max-width: 992px) {
    #edito .product-extra .inner .img-wrap,
    #edito .product-extra .inner .desc-wrap {
      float: none !important; }
    #edito .product-extra .inner .img-wrap {
      background-color: #fff; }
    #edito .product-extra .inner .img-wrap:after {
      display: none; }
    #edito .product-extra .inner .desc-wrap {
      width: 100% !important;
      padding: 20px; }
    #edito .product-extra .inner .desc-wrap .extra-header h2 {
      font-size: 20px !important; }
    #edito .product-extra .inner .desc-wrap .extra-header h3 {
      font-size: 16px !important; } }
  @media all and (max-width: 767px) {
    #edito .sum-box {
      clear: both; } }
  @media all and (max-width: 768px) {
    #edito .sum-box button.cancel-coupon {
      float: right; }
    #edito .sum-box input[type="text"] {
      width: 100%; }
    #edito .sum-box input[type="submit"],
    #edito .sum-box button {
      width: 100%; }
    #edito .swap .story-wrap .img-wrap {
      width: 30%; }
    #edito .swap .story-wrap .img-wrap .name {
      position: relative;
      color: #000 !important; }
    #edito .swap .story-wrap .text-wrap {
      width: 70%; }
    #edito .narrow {
      max-width: 100%; }
    #edito .sum-box {
      margin-top: 25px;
      max-width: 100%; }
    #edito .section {
      margin-bottom: 15px !important;
      margin-top: 15px !important; } }
  #edito .visible-lg,
  #edito .visible-md,
  #edito .visible-sm,
  #edito .visible-xs {
    display: none !important; }
  #edito .visible-lg-block,
  #edito .visible-lg-inline,
  #edito .visible-lg-inline-block,
  #edito .visible-md-block,
  #edito .visible-md-inline,
  #edito .visible-md-inline-block,
  #edito .visible-sm-block,
  #edito .visible-sm-inline,
  #edito .visible-sm-inline-block,
  #edito .visible-xs-block,
  #edito .visible-xs-inline,
  #edito .visible-xs-inline-block {
    display: none !important; }
  @media (max-width: 767px) {
    #edito .visible-xs {
      display: block !important; }
    #edito table.visible-xs {
      display: table !important; }
    #edito tr.visible-xs {
      display: table-row !important; }
    #edito td.visible-xs,
    #edito th.visible-xs {
      display: table-cell !important; } }
  @media (max-width: 767px) {
    #edito .visible-xs-block {
      display: block !important; } }
  @media (max-width: 767px) {
    #edito .visible-xs-inline {
      display: inline !important; } }
  @media (max-width: 767px) {
    #edito .visible-xs-inline-block {
      display: inline-block !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    #edito .visible-sm {
      display: block !important; }
    #edito table.visible-sm {
      display: table !important; }
    #edito tr.visible-sm {
      display: table-row !important; }
    #edito td.visible-sm,
    #edito th.visible-sm {
      display: table-cell !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    #edito .visible-sm-block {
      display: block !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    #edito .visible-sm-inline {
      display: inline !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    #edito .visible-sm-inline-block {
      display: inline-block !important; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    #edito .visible-md {
      display: block !important; }
    #edito table.visible-md {
      display: table !important; }
    #edito tr.visible-md {
      display: table-row !important; }
    #edito td.visible-md,
    #edito th.visible-md {
      display: table-cell !important; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    #edito .visible-md-block {
      display: block !important; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    #edito .visible-md-inline {
      display: inline !important; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    #edito .visible-md-inline-block {
      display: inline-block !important; } }
  @media (min-width: 1200px) {
    #edito .visible-lg {
      display: block !important; }
    #edito table.visible-lg {
      display: table !important; }
    #edito tr.visible-lg {
      display: table-row !important; }
    #edito td.visible-lg,
    #edito th.visible-lg {
      display: table-cell !important; } }
  @media (min-width: 1200px) {
    #edito .visible-lg-block {
      display: block !important; } }
  @media (min-width: 1200px) {
    #edito .visible-lg-inline {
      display: inline !important; } }
  @media (min-width: 1200px) {
    #edito .visible-lg-inline-block {
      display: inline-block !important; } }
  @media (max-width: 767px) {
    #edito .hidden-xs {
      display: none !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    #edito .hidden-sm {
      display: none !important; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    #edito .hidden-md {
      display: none !important; } }
  @media (min-width: 1200px) {
    #edito .hidden-lg {
      display: none !important; } }
  #edito .visible-print {
    display: none !important; }
  @media print {
    #edito .visible-print {
      display: block !important; }
    #edito table.visible-print {
      display: table !important; }
    #edito tr.visible-print {
      display: table-row !important; }
    #edito td.visible-print,
    #edito th.visible-print {
      display: table-cell !important; } }
  #edito .visible-print-block {
    display: none !important; }
  @media print {
    #edito .visible-print-block {
      display: block !important; } }
  #edito .visible-print-inline {
    display: none !important; }
  @media print {
    #edito .visible-print-inline {
      display: inline !important; } }
  #edito .visible-print-inline-block {
    display: none !important; }
  @media print {
    #edito .visible-print-inline-block {
      display: inline-block !important; } }
  @media print {
    #edito .hidden-print {
      display: none !important; } }

#beautiful-alltheway {
  font-family: "db";
  font-size: 26px;
  color: #000000;
  padding: 20px 0;
  line-height: 1.1; }

#beautiful-alltheway h1,
#beautiful-alltheway h2,
#beautiful-alltheway h3 {
  font-family: "avi-nor";
  line-height: 1.4; }

#beautiful-alltheway h2 {
  font-size: 27px; }

#beautiful-alltheway .th-bold {
  font-family: "dbbold"; }

#beautiful-alltheway .en-bold {
  font-family: "avi-bol"; }

#beautiful-alltheway .font-gold {
  color: #8b632f; }

#beautiful-alltheway .white-color {
  color: #ffffff; }

#beautiful-alltheway .section-top .product-top {
  margin-top: 20px;
  margin-bottom: 20px; }

#beautiful-alltheway .section-top .product-top .text {
  margin-top: 25%; }

#beautiful-alltheway .section-top .product-top .text h1 {
  margin: 5px auto;
  line-height: 1.2; }

#beautiful-alltheway .section-top .product-top .text h2 {
  margin: 0; }

#beautiful-alltheway .section-top .content-top {
  margin: 20px auto; }

#beautiful-alltheway .section-top .content-top a {
  color: #cc3300;
  text-decoration: underline; }

#beautiful-alltheway .section-top .content-top .text-margin-top {
  margin-top: 30%; }

#beautiful-alltheway .section-top .content-top .text-margin-top h2 {
  text-align: center; }

#beautiful-alltheway .section-top .border-left {
  border-left: 1px solid #999999;
  padding-left: 20px; }

#beautiful-alltheway .section-bottom {
  background: url(https://cdn.shopify.com/s/files/1/0344/4139/6364/files/bg_bottom.jpg?v=1625818060) 0 100px no-repeat;
  background-size: 100%;
  margin: 20px auto; }

#beautiful-alltheway .section-bottom .content-bottom-left {
  margin-top: 40%; }

#beautiful-alltheway .section-bottom .content-bottom-right {
  margin-top: 55%; }

#beautiful-alltheway .section-bottom img {
  margin: 0 auto; }

#beautiful-alltheway .section-bottom .block-btn-shop-now {
  position: relative; }

#beautiful-alltheway .section-bottom .block-btn-shop-now .btn-shop-now {
  color: #ffffff;
  background-color: #000000;
  padding: 0 40px;
  height: 40px;
  line-height: 45px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  right: -100px;
  bottom: 80px; }

#beautiful-alltheway .section-bottom .block-btn-shop-now .btn-shop-now:hover {
  background-color: #3b3838; }

#beautiful-alltheway .section-bottom h2 {
  margin: 10px auto;
  text-align: center; }

#beautiful-alltheway .remark {
  margin: 30px auto;
  font-size: 20px;
  color: #8b632f; }

#beautiful-alltheway .remark ul {
  margin: 0;
  padding: 0; }

#beautiful-alltheway .remark ul li {
  list-style: none; }

@media (max-width: 1399px) {
  #beautiful-alltheway .section-bottom .block-btn-shop-now .btn-shop-now {
    right: 0; } }

@media only screen and (max-width: 768px) {
  #beautiful-alltheway .section-top .product-top .text h1,
  #beautiful-alltheway h1,
  #beautiful-alltheway h2,
  #beautiful-alltheway h3 {
    font-size: 80%; }
  #beautiful-alltheway .section-top .product-top {
    margin-top: 0; }
  #beautiful-alltheway .section-top .product-top .text h1,
  #beautiful-alltheway .section-top .product-top .text h2 {
    line-height: 1; }
  #beautiful-alltheway img {
    margin: 0 auto; }
  #beautiful-alltheway .section-top .product-top .text,
  #beautiful-alltheway .section-top .content-top .text-margin-top,
  #beautiful-alltheway .section-bottom .content-bottom-left,
  #beautiful-alltheway .section-bottom .content-bottom-right {
    margin: 20px auto; }
  #beautiful-alltheway .section-bottom {
    background: url(https://www.avianceshop.com/skin/frontend/bm/aviance/images/beauty-alltheway/bg_bottom_mobile.jpg) no-repeat;
    background-size: cover; }
  #beautiful-alltheway .section-bottom h2 {
    text-align: center; }
  #beautiful-alltheway .section-bottom .block-btn-shop-now {
    text-align: center;
    padding: 20px 0 0;
    background-color: #fff;
    margin: 0 -24px; }
  #beautiful-alltheway .section-bottom .block-btn-shop-now .btn-shop-now {
    position: static; }
  #beautiful-alltheway .img-50 {
    max-width: 50%; }
  #beautiful-alltheway .section-top .padding-right-left0 {
    padding: 0; }
  #beautiful-alltheway .section-bottom .block-btn-shop-now .btn-shop-now {
    font-size: 80%;
    padding: 5px 40px 2px 40px; } }

@media (max-width: 767px) {
  .section-top .product-top .text {
    position: relative; }
  .section-top .product-top .text .h-group {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: -1.1em; } }

@media (max-width: 667px) {
  #beautiful-alltheway .section-top .content-top .text-margin-top h2 {
    text-align: left; }
  #beautiful-alltheway .section-top .border-left {
    border: none;
    padding: 0; }
  #beautiful-alltheway .section-bottom h2 {
    text-align: left; }
  #beautiful-alltheway .section-bottom .block-btn-shop-now {
    margin: 0 -15px; } }
