.main-content {
  padding: 0; }
  .main-content .breadcrumb__wrap {
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    z-index: 5;
    padding: 15px 0;
    width: 100%; }
  .main-content .breadcrumb__wrap .breadcrumb {
    margin-bottom: 0; }

.easy-fast-start__banner {
  position: relative;
  padding-top: 0; }
  .easy-fast-start__banner .container {
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0; }
  .easy-fast-start__banner .title {
    font-size: 40px;
    margin-bottom: 5px;
    font-weight: 400; }
  .easy-fast-start__banner .sub-title {
    font-size: 30px;
    font-weight: 400; }
  .easy-fast-start__banner .desc {
    margin-top: 30px;
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-weight: 400; }
  .easy-fast-start__banner .btn {
    margin-top: 28px; }
  .easy-fast-start__banner .media.w-full-screen {
    min-height: 100vh; }
  .easy-fast-start__banner .banner-desktop__wrapper {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 250vw;
    position: absolute;
    overflow: hidden;
    left: -75vw; }
  .easy-fast-start__banner .banner-desktop {
    min-height: 100vh;
    background-position: center;
    background-size: cover; }
    @media (min-width: 1025px) {
      .easy-fast-start__banner .banner-desktop {
        background-attachment: fixed; } }

.easy-fast-start__start .title {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px; }

.easy-fast-start__start .sub-title {
  font-size: 25px;
  font-weight: 400; }

.easy-fast-start__start .desc {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-weight: 400; }

.easy-fast-start__provides .title {
  font-size: 30px;
  font-weight: 400; }

.easy-fast-start__provides .sub-title {
  font-size: 20px;
  font-weight: 400; }

.easy-fast-start__provides .provides__list {
  justify-content: center;
  text-align: center; }
  .easy-fast-start__provides .provides__list .item {
    margin-top: 40px;
    padding: 0 15px; }
  .easy-fast-start__provides .provides__list .desc {
    margin-top: 20px;
    line-height: 22px;
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-weight: 400; }

.easy-fast-start__provides .provides__bottom {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  max-width: 965px;
  margin: 50px auto 0;
  font-family: 'Prompt', sans-serif; }

.easy-fast-start__business {
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 50px;
  margin-top: -80px; }
  .easy-fast-start__business .row__content {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 600px; }
  .easy-fast-start__business .business__content {
    margin: 270px 0 70px; }
  .easy-fast-start__business .business__desc {
    font-size: 20px;
    line-height: 30px; }
  .easy-fast-start__business .business__list {
    margin-top: 30px;
    text-align: center;
    line-height: 22px; }
    .easy-fast-start__business .business__list .item {
      padding: 0 15px; }
    .easy-fast-start__business .business__list .desc {
      margin-top: 15px;
      font-family: "IBM Plex Sans Thai Looped", sans-serif;
      font-weight: 400; }
  .easy-fast-start__business .btn {
    margin: 40px 30px 0 30px; }

.easy-fast-start__plan {
  color: #FFF;
  text-align: center;
  padding: 10px 0;
  margin-top: -50px;
  position: relative; }
  .easy-fast-start__plan::after {
    content: " ";
    position: absolute;
    top: 0;
    width: 250vw;
    height: 100%;
    left: -75vw;
    background: #E0FB3F;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: 1; }
  .easy-fast-start__plan p {
    color: #FFF; }
  .easy-fast-start__plan .bg {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    top: 0;
    height: 100%;
    max-height: 100%; }
  .easy-fast-start__plan > .container {
    position: relative;
    z-index: 2;
    padding: 100px 0;
    color: #333; }
  .easy-fast-start__plan .heading-top {
    font-size: 30px;
    font-family: 'Prompt',sans-serif;
    line-height: 40px; }
    .easy-fast-start__plan .heading-top .color-blue {
      color: #00FFE2; }
  .easy-fast-start__plan .sub__heading-top {
    margin-top: 15px;
    line-height: 26px; }
  .easy-fast-start__plan .list__plan {
    margin-top: 45px; }
    .easy-fast-start__plan .list__plan .media {
      height: 285px;
      display: flex;
      justify-content: center;
      align-items: flex-end; }
    .easy-fast-start__plan .list__plan .title {
      margin-top: 22px;
      font-size: 20px;
      font-weight: 500;
      font-family: "IBM Plex Sans Thai Looped", sans-serif;
      color: var(--color-primary); }
    .easy-fast-start__plan .list__plan .desc {
      line-height: 22px;
      font-family: "IBM Plex Sans Thai Looped", sans-serif;
      font-weight: 400; }

.easy-fast-start__video .heading {
  margin-bottom: 40px; }

.easy-fast-start__video .content {
  background: #FBFBFD;
  border: 1px solid #EFEFF4;
  border-radius: 0 0 10px 10px;
  padding: 12px 22px; }
  .easy-fast-start__video .content .title {
    font-weight: 400; }
  .easy-fast-start__video .content .desc {
    color: #999;
    margin-top: 5px;
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-weight: 400; }

.easy-fast-start__video .media {
  cursor: pointer; }
  .easy-fast-start__video .media img {
    display: block;
    width: 100%; }

.easy-fast-start__video .video__1 {
  padding-right: 25px; }

.easy-fast-start__video .video__2 {
  padding-left: 25px; }

.easy-fast-start__video .video__modal .modal-content__padding {
  padding-top: 60px;
  height: calc(100vh - 260px); }

.easy-fast-start__video .video__modal .modal__content-iframe {
  height: 100%; }

.easy-fast-start__video .video__modal iframe {
  width: 100%;
  height: 100%; }

.easy-fast-start__bottom {
  position: relative;
  margin-top: 60px; }
  .easy-fast-start__bottom > .container {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px; }
  .easy-fast-start__bottom .title, .easy-fast-start__bottom .sub-title {
    font-size: 30px;
    line-height: 40px;
    margin: 0; }
  .easy-fast-start__bottom .desc {
    font-size: 16px;
    margin-top: 10px;
    line-height: 30px;
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-weight: 400; }
  .easy-fast-start__bottom .btn {
    margin-top: 30px; }

@media only screen and (max-width: 575.98px) {
  .easy-fast-start__banner .media .display-mb {
    min-height: 600px; }
  .easy-fast-start__banner > .container {
    top: 10%; }
  .easy-fast-start__banner .title {
    font-size: 30px; }
  .easy-fast-start__banner .sub-title {
    font-size: 25px; }
  .easy-fast-start__start .desc,
  .easy-fast-start__banner .desc {
    font-size: 18px; }
  .easy-fast-start__provides .title,
  .easy-fast-start__start .title {
    font-size: 25px; }
  .easy-fast-start__provides .sub-title,
  .easy-fast-start__start .sub-title {
    font-size: 20px; }
  .easy-fast-start__provides .provides__list {
    display: block; }
    .easy-fast-start__provides .provides__list .item {
      vertical-align: top;
      display: inline-block;
      width: 50%;
      padding: 0 5px; }
      .easy-fast-start__provides .provides__list .item:last-child {
        padding: 0; }
      .easy-fast-start__provides .provides__list .item .desc {
        font-size: 16px; }
  .easy-fast-start__provides .provides__bottom {
    font-size: 20px;
    padding: 0 7px; }
  .easy-fast-start__business {
    background-image: unset !important;
    margin-top: -50px; }
    .easy-fast-start__business .business__content {
      margin-top: 0; }
    .easy-fast-start__business .business__list .container-item {
      width: 50%;
      display: inline-block;
      padding: 0 0 0 5px; }
      .easy-fast-start__business .business__list .container-item .item {
        padding: 0; }
      .easy-fast-start__business .business__list .container-item:last-child {
        padding-right: 5px; }
    .easy-fast-start__business .btn {
      margin-left: 0; }
  .easy-fast-start__plan .sub__heading-top {
    font-size: 20px; }
  .easy-fast-start__plan > .container {
    padding: 55px 10px; }
  .easy-fast-start__plan .list__plan .media {
    height: unset; }
  .easy-fast-start__plan .list__plan .col-md-4 {
    margin-bottom: 50px; }
    .easy-fast-start__plan .list__plan .col-md-4:last-child {
      margin-bottom: 0; }
    .easy-fast-start__plan .list__plan .col-md-4:first-child .media img {
      width: 130px; }
    .easy-fast-start__plan .list__plan .col-md-4:nth-child(2) .media img {
      width: 200px; }
  .easy-fast-start__plan .list__plan .item .desc {
    font-size: 18px; }
  .easy-fast-start__plan .heading-top {
    font-size: 25px; }
  .easy-fast-start__plan::after {
    width: 500vw;
    left: -200vw;
    background-image: unset;
    background-color: #E0FB3F; }
  .easy-fast-start__plan .desc-head-1 {
    margin-bottom: 18px; }
  .easy-fast-start__video .heading {
    font-size: 25px; }
  .easy-fast-start__video .video__1, .easy-fast-start__video .video__2 {
    padding: 0 10px; }
  .easy-fast-start__video .video__2 {
    margin-top: 30px; }
  .easy-fast-start__bottom {
    display: flex;
    flex-direction: column-reverse; }
    .easy-fast-start__bottom > .container {
      position: relative;
      top: 0; }
    .easy-fast-start__bottom .title, .easy-fast-start__bottom .sub-title {
      font-size: 25px; }
    .easy-fast-start__bottom .desc {
      font-size: 20px; }
  .easy-fast-start__video .video__modal .modal-content__padding {
    margin-top: 90px;
    padding: 40px 15px 15px; } }
